## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import statsmodels.api as sm
import sqlite3
from sqlite3 import Error
from functools import reduce
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
# Evaluation Metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('final_df.csv')
df

,fsq_id,categories_x,closed_bucket,distance_x,location_x,name_x,latitude,longitude,id_x,name_y,...,categories_y,rating,location_y,display_phone,distance_y,empty_slots,free_bikes,id_y,bike_station,number_of_bikes
0,4ae0c7a8f964a520638221e3,Indian Restaurant,VeryLikelyOpen,783,"1460 Gerrard St E (Coxwell Ave), Toronto ON M4...",Udupi Palace,43.67,-79.32,RZ48zp2J2SWUy-lZ4PHZrw,Sanagan's Meat Locker,...,Meat Shops,4.5,"1513 Gerrard Street E,Toronto,M4L 2A4,ON,CA",+1 416-593-9747,827.674659,9,9,fb337bbed72e2be090071e199899b2be,Queen St E / Woodward Ave,18
1,4ae0c7a8f964a520638221e3,Indian Restaurant,VeryLikelyOpen,783,"1460 Gerrard St E (Coxwell Ave), Toronto ON M4...",Udupi Palace,43.67,-79.32,RZ48zp2J2SWUy-lZ4PHZrw,Sanagan's Meat Locker,...,Meat Shops,4.5,"1513 Gerrard Street E,Toronto,M4L 2A4,ON,CA",+1 416-593-9747,827.674659,1,21,a09c67c0b419654d907c9134b108e328,Queen St E / Rhodes Ave,22
2,4ae0c7a8f964a520638221e3,Indian Restaurant,VeryLikelyOpen,783,"1460 Gerrard St E (Coxwell Ave), Toronto ON M4...",Udupi Palace,43.67,-79.32,RZ48zp2J2SWUy-lZ4PHZrw,Sanagan's Meat Locker,...,Meat Shops,4.5,"1513 Gerrard Street E,Toronto,M4L 2A4,ON,CA",+1 416-593-9747,827.674659,2,16,0729b25bcf663b7a2278f01d63b50fcf,Eastwood Rd / Coxwell Ave,18
3,4ae0c7a8f964a520638221e3,Indian Restaurant,VeryLikelyOpen,783,"1460 Gerrard St E (Coxwell Ave), Toronto ON M4...",Udupi Palace,43.67,-79.32,RZ48zp2J2SWUy-lZ4PHZrw,Sanagan's Meat Locker,...,Meat Shops,4.5,"1513 Gerrard Street E,Toronto,M4L 2A4,ON,CA",+1 416-593-9747,827.674659,8,8,519ee649fcd1ad28beade12953db3732,Highfield Rd / Gerrard St E,16
4,4ae0c7a8f964a520638221e3,Indian Restaurant,VeryLikelyOpen,783,"1460 Gerrard St E (Coxwell Ave), Toronto ON M4...",Udupi Palace,43.67,-79.32,VS5zMLXSGAZiTXqOfbTA3A,St Clair Delicatessen,...,Meat Shops,4.5,"1513 Gerrard Street E,Toronto,M4L 2A4,ON,CA",+1 416-656-3980,1818.972593,9,9,fb337bbed72e2be090071e199899b2be,Queen St E / Woodward Ave,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441695,584054342980db526bddd716,Café,VeryLikelyOpen,90,"1347 Queen St E (Knox Aveneue), Toronto ON M4L...",Baro,43.66,-79.33,c35qzLN6ItDpVIoj2uQW4Q,Ravi Soups,...,Polish,4.5,"5 Hastings Avenue,Toronto,M4L 2L1,ON,CA",+1 647-435-8365,421.303569,7,7,49021f20833894e3dbfaea4fb6e7a9dc,Eastern Ave / Winnifred Ave,14
441696,584054342980db526bddd716,Café,VeryLikelyOpen,90,"1347 Queen St E (Knox Aveneue), Toronto ON M4L...",Baro,43.66,-79.33,c35qzLN6ItDpVIoj2uQW4Q,Ravi Soups,...,Polish,4.5,"5 Hastings Avenue,Toronto,M4L 2L1,ON,CA",+1 647-435-8365,421.303569,4,13,d2ce6ae839b7df2c912ab140253a5574,Lake Shore Blvd E / Leslie St,17
441697,584054342980db526bddd716,Café,VeryLikelyOpen,90,"1347 Queen St E (Knox Aveneue), Toronto ON M4L...",Baro,43.66,-79.33,c35qzLN6ItDpVIoj2uQW4Q,Ravi Soups,...,Polish,4.5,"5 Hastings Avenue,Toronto,M4L 2L1,ON,CA",+1 647-435-8365,421.303569,1,18,3e05658e4bcad33e9d606744235dadcc,Queen St E / Alton Av,19
441698,584054342980db526bddd716,Café,VeryLikelyOpen,90,"1347 Queen St E (Knox Aveneue), Toronto ON M4L...",Baro,43.66,-79.33,c35qzLN6ItDpVIoj2uQW4Q,Ravi Soups,...,Polish,4.5,"5 Hastings Avenue,Toronto,M4L 2L1,ON,CA",+1 647-435-8365,421.303569,1,14,7e8db6cca9980f9b6daf293197f25fc4,Queen St E / Rushbrooke Ave,15
441699,584054342980db526bddd716,Café,VeryLikelyOpen,90,"1347 Queen St E (Knox Aveneue), Toronto ON M4L...",Baro,43.66,-79.33,c35qzLN6ItDpVIoj2uQW4Q,Ravi Soups,...,Polish,4.5,"5 Hastings Avenue,Toronto,M4L 2L1,ON,CA",+1 647-435-8365,421.303569,5,10,786a216c74ede38763e705b21c0284e2,Leslie St / Commissioners St,15

In [3]:
# Data Preparation
X = df[[ 'distance_x', 'rating', 'latitude','longitude','review_count']]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441700 entries, 0 to 441699
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   distance_x    441700 non-null  int64
 1   rating        441700 non-null  float64
 2   latitude      441700 non-null  float64
 3   longitude     441700 non-null  float64
 4   review_count  441700 non-null  int64
dtypes: float64(3), int64(2)
memory usage: 16.8 MB

In [4]:
# Check for missing values
print(X.isnull().sum())

distance_x      0
rating          0
latitude        0
longitude       0
review_count    0
dtype: int64

In [5]:
# Add a constant term for the intercept
X = sm.add_constant(X)
X.head()

   const  distance_x  rating  latitude  longitude  review_count
0    1.0         783     4.5     43.67     -79.32             7
1    1.0         783     4.5     43.67     -79.32             7
2    1.0         783     4.5     43.67     -79.32             7
3    1.0         783     4.5     43.67     -79.32             7
4    1.0         783     4.5     43.67     -79.32             2

In [6]:
# Target variable
y = df['number_of_bikes']
y.head()

0    18
1    22
2    18
3    16
4    18
Name: number_of_bikes, dtype: int64

In [7]:
# Model Specification
model = sm.OLS(y, X)
# Estimation
results = model.fit()
# Summary of Regression Results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        number_of_bikes   R-squared:                       0.056
Model:                            OLS   Adj. R-squared:                  0.056
Method:                 Least Squares   F-statistic:                     5268.
Date:                Mon, 18 Dec 2023   Prob (F-statistic):               0.00
Time:                        20:29:48   Log-Likelihood:            -1.1623e+06
No. Observations:              441700   AIC:                         2.325e+06
Df Residuals:                  441694   BIC:                         2.325e+06
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -1.397e+04    136.866   -102.098      0.000   -1.42e+04   -1.37e+04
distance_x    1.287e-15   2.05e-05   6.28e-11      1.000   -4.02e-05    4.02e-05
rating       -2.882e-12      0.009   -3.3e-10      1.000      -0.017       0.017
latitude       275.0000      1.747    157.403      0.000     271.576     278.424
longitude      -25.0000      1.119    -22.336      0.000     -27.194     -22.806
review_count -6.374e-14   6.29e-05  -1.01e-09      1.000      -0.000       0.000
==============================================================================
Omnibus:                    17005.022   Durbin-Watson:                   3.154
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19036.093
Skew:                           0.507   Prob(JB):                         0.00
Kurtosis:                       2.936   Cond. No.                     1.57e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.57e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [13]:
# Due to the fact that the p-value for distance_x is 1(meaning not good at all),i'll be building another model without it to see the outcome.  
# Data Preparation
X = df[['latitude','longitude']]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441700 entries, 0 to 441699
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   latitude   441700 non-null  float64
 1   longitude  441700 non-null  float64
dtypes: float64(2)
memory usage: 6.7 MB

In [14]:
# Check for missing values
print(X.isnull().sum())

latitude     0
longitude    0
dtype: int64

In [15]:
# Add a constant term for the intercept
X = sm.add_constant(X)
X.head()

   const  latitude  longitude
0    1.0     43.67     -79.32
1    1.0     43.67     -79.32
2    1.0     43.67     -79.32
3    1.0     43.67     -79.32
4    1.0     43.67     -79.32

In [16]:
# Target variable
y = df['number_of_bikes']
y.head()

0    18
1    22
2    18
3    16
4    18
Name: number_of_bikes, dtype: int64

In [17]:
# Model Specification
model = sm.OLS(y, X)
# Estimation
results = model.fit()
# Summary of Regression Results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        number_of_bikes   R-squared:                       0.056
Model:                            OLS   Adj. R-squared:                  0.056
Method:                 Least Squares   F-statistic:                 1.317e+04
Date:                Mon, 18 Dec 2023   Prob (F-statistic):               0.00
Time:                        20:30:54   Log-Likelihood:            -1.1623e+06
No. Observations:              441700   AIC:                         2.325e+06
Df Residuals:                  441697   BIC:                         2.325e+06
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.397e+04    135.487   -103.137      0.000   -1.42e+04   -1.37e+04
latitude     275.0000      1.747    157.432      0.000     271.576     278.424
longitude    -25.0000      1.095    -22.832      0.000     -27.146     -22.854
==============================================================================
Omnibus:                    17005.022   Durbin-Watson:                   3.154
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19036.093
Skew:                           0.507   Prob(JB):                         0.00
Kurtosis:                       2.936   Cond. No.                     2.43e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.43e+06. This might indicate that there are
strong multicollinearity or other numerical problems.